<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Staff</title>
</head>
<body>
    <form method="POST" action="/projects/edit">
        Name: <br><input type="text" name="name" value="<%= data.project_name %>"><br>
        Status: <br><input type="text" name="status" value="<%= data.status %>"><br>
        Priority: <br><select name="priority">
            <% if(data.priority == high){ %>
                <option value="high" selected>high</option>
            <% }else{ %>
                <option value="high">high</option>
            <% } %>
            <% if(data.priority == high){ %>
                <option value="medium" selected>high</option>
            <% }else{ %>
                <option value="medium">high</option>
            <% } %>
            <% if(data.priority == high){ %>
                <option value="low" selected>high</option>
            <% }else{ %>
                <option value="low">high</option>
            <% } %>
        </select><br>
        <input type='submit' name='edit' value='Update Project'>
    </form>
</body>
</html>