<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>Add Staff</title>
</head>
<body>
    <form method="POST" action="/projects/add">
        Name: <br><input type="text" name="project_name" value=""><br>
        Priority: <br><select name="priority">
            <option disabled selected>--select--</option>
            <option value="high">high</option>
            <option value="medium">medium</option>
            <option value="low">low</option>
        </select><br><br>
        <input type='submit' name='add' value='Add Project'>
    </form>
</body>
<%- include('partial/footer.ejs') %>
</html>